body{
    background-image: url('https://wallpaperaccess.com/full/1567666.png');
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    /* font-size: large; */
}
.material-icons{
    font-size: 400px;
}
.guide{
    margin-right: 40px;
}
#topBtn{
    font-size: 40px;
    position: fixed;
    color: rgb(41, 41, 78);
    border: 2px solid rgba(66, 66, 66, 0.671);
    background-color: rgba(255, 255, 255, 0.918);
    text-decoration: none;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    right: 60px;
    bottom: 100px;   
}
#topBtn:hover{
    box-shadow: 0 10px 20px rgba(194, 194, 194, 0.788);
}
.head{
    text-align: center;
}
.main{
    border: 2px solid rgba(134, 134, 134, 0.815);
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 5%;
}
.mainsquare{
    border: 2px solid rgba(66, 66, 66, 0.671);
    background-color: rgba(34, 33, 46, 0.521);
    margin: 1%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    backdrop-filter: blur(4px);
}

#my_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 80px;
}

.guidesect{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
}
.guide a{
    color: whitesmoke;
    border: 2px solid rgba(66, 66, 66, 0.671);
    background-color: rgba(34, 33, 46, 0.918);
    text-decoration: none;
    font-size: larger;
    border-radius: 6px;
    padding: 8px;
    margin: 3px;
    margin-top: 20px;
}
#name{
    font-size: 40px;
}
.guide a:hover{
    box-shadow: 0 10px 20px rgba(83, 108, 136, 0.575);
    background: linear-gradient(to right, rgba(85, 163, 207, 0.685), rgba(189, 189, 189, 0.651));
}
.head1{
    text-align: center;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    width: 50px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
  }
  /* Add a hover effect if you want */
  .fa:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.575);
    
  }
  
  .fa-github {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  .fa-linkedin {
    background: #0091ff;
    color: white;
  }
  .fa-envelope {
      background: white;
      color: red;
  }
  .contact{
      text-align: center;
  }
